<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-img-top {
            height: 250px; /* Altura fija para las imágenes */
            object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Ver Categorías</h1>
        <div class="row">
            {% for categoria in categorias %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ categoria.imagen }}" class="card-img-top" alt="{{ categoria.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ categoria.nombre }}</h5>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">No hay productos que mostrar</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>